@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #EEEDED; /* Color de fondo base */
  overflow-x: hidden; /* Evita el scroll horizontal */
  /* background: url('../src/assets/imagen-programacion.jpg') no-repeat center center fixed; /* Cambia 'background.jpg' por el nombre de tu imagen */
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  animation: moveBackground 30s linear infinite; /* Aplica la animación de movimiento */
} */

::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 252, 252, 0.02); /* Color negro con opacidad para oscurecer la imagen */
  z-index: -1; /* Coloca el overlay detrás del contenido */
}
